.header {
    padding: .5px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.split {
    float: right;
    background-color: #04AA6D;
    color: white;
}

body {
    font-family: "Lato", sans-serif;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #cdcaca;
    overflow: visible;
    padding-top: 60px;
  }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.dropdown-container {
    display: none;
    background-color: #e9e7e7;
    padding-left: 8px;
    right: 100%; 
    bottom: 0%; 
    display: flex;
    position: relative;
    color:black;
}

.dropdown-content {
    display: none; 
    position: relative; 
    background-color: #e9e7e7; 
    min-width: 250px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 

}

.dropdown-container a {
    display: block;
    padding: 8px 16px; 
    text-decoration: none; 
    color: #818181; 
    border: none; 
    background: none; 
    outline: none; 
    margin: 0px 5px; 
    max-width: 300px;
    max-height: 100px;
    position:absolute;
    overflow: auto;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    outline: none;
}
.dropdown-btn {
    padding: 8px 8px 8px 18px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    outline: none;
    /*width: 100%;*/
}

.active {

    color: white;
}

.sidenav a:hover, .dropdown-btn:hover {
    
    color: #f1f1f1;
}

.dropleft {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    outline: none;
    position: relative;
    display: block;
    
}

.dropleft-content {
    display: none;
    position: relative; 
    background-color: #f9f9f9; 
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 2; 
    right: 100%;
    bottom: 0; 
}

.dropleft:hover .dropleft-content {
    display: none;
}

.dropleft-content a {
    color: black;
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
}

.dropleft-content a:hover {
    background-color: #ddd; 
}

.content {
    flex-grow: 1; 
    padding: 20px; 
}

.main {
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
}

.arrow {
    border: solid #818181;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

